
<div class="search">
  <div id="search-box"></div>
  <div class="refinements">
    <p>Thème</p>
    <div class="refinement-list" id="themes"></div>
    <p>Type de contributeur</p>
    <div class="refinement-list" id="contributors"></div>
    <p>Code postal</p>
    <div class="refinement-list" id="zipcodes"></div>
  </div>
  <div id="hits"></div>
  <div id="pagination"></div>
</div>



<script type="text/html" id="hit-template">
  <div class="result">
    <div class="theme {{ theme }}"></div>
    <div class="question">{{#helpers.highlight}}{ "attribute": "question_text" }{{/helpers.highlight}}</div>
    <div class="answer">{{#helpers.highlight}}{ "attribute": "content" }{{/helpers.highlight}}</div>
    <div class="type">{{ contributor_type }}</div>
    <div class="zipcode">Code postal : {{ zipcode }}</div>
  </div>
</script>