<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <div class="logo" style="background-image: url(<%= image_path 'logo.png' %>)"></div>
    <p>Les Grandes Idées</p>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Imprimer ma sélection</a>
  </div>
</div>
