/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";

body {
  background-color: #F4F5F5;

}

.container-fluid {
  padding: 20px 0;
}

#search-box {
  max-width: 620px;
  margin: 70px 0 40px 436px;
}

#pagination {
  margin-top: 20px;
}

.refinements {
  padding: 30px;
  background-color: white;
  float: left;
  width: 340px;
  margin-right: 20px;
  p {
    font-size: 16px;
    font-weight: bold;
    color: #555;
  }
}

.refinement-list {
  margin-bottom: 20px;
  .ais-RefinementList-count {
    padding: 1px 8px 2px;
  }
  .ais-RefinementList-checkbox[value="Fiscalité et dépenses publiques"] ~ .ais-RefinementList-count {
    color: black;
    background-color: #F4BB1D;
  }
  .ais-RefinementList-checkbox[value="Transition écologique"] ~ .ais-RefinementList-count {
    color: black;
    background-color: #0CCE6B;
  }
  .ais-RefinementList-checkbox[value="Démocratie et citoyenneté"] ~ .ais-RefinementList-count {
    background-color: #0A2C9B;
    color: white;
  }
  .ais-RefinementList-checkbox[value="Organisation de l'État et des services publics"] ~ .ais-RefinementList-count {
    color: white;
    background-color: #F85A3E;
  }
}

.empty {
  text-align: center;
}

.result-item {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  background-color: white;
  position: relative;
  .controls {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    background-color: #fbfbfb;
    border-top: 1px solid silver;
    .save, .read {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.result {
  font-size: 14px;
  line-height: 20px;
  .theme {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    &.Tr {
      background-color: #0CCE6B;
    }
    &.Dé {
      background-color: #0A2C9B;
    }
    &.Fi {
      background-color: #F4BB1D;
    }
    &.Or {
      background-color: #F85A3E;
    }
  }
  .question {
    border-bottom: 1px solid silver;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .answer {
    padding: 10px;
    max-height: 130px;
    overflow: auto;
    text-overflow: ellipsis;
  }
  .zipcode, .type {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid silver;
  }

  .zipcode {
    margin-bottom: 40px;
  }
}
